# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/

# Environments
venv/

# Editor / IDE
*.swo
*.swp
.vscode

# link_checker targets
index.rdf

# link_checker outputs
err_file.txt
errorlog.txt
test-reports
test-summary
test_file.txt
