beautifulsoup4==4.7.1
certifi==2019.6.16
chardet==3.0.4
entrypoints==0.3
flake8==3.7.7
idna==2.8
lxml==4.3.4
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
requests==2.22.0
soupsieve==1.9.1
urllib3==1.25.3
