[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
link_checker = "python ./link_checker.py"
"link_checker.py" = "python ./link_checker.py"

[dev-packages]
# See https://github.com/pypa/pipenv/issues/1760
black = "==19.10b0"
flake8 = "*"
pytest = "*"

[packages]
beautifulsoup4 = "*"
grequests = "*"
importlib-metadata = "*"
junit-xml = "*"
lxml = "*"
requests = "*"

[requires]
python_version = "3"
