[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
link_checker = "python -m link_checker"

[dev-packages]
# See https://github.com/pypa/pipenv/issues/1760
black = "==20.8b1"
flake8 = "*"
isort = "*"
pytest = "*"
typing_extensions = {version = "*", markers="python_version < '3.9'"}

[packages]
    [packages.link_checker]
        editable = true
        path = "."

[requires]
python_version = "3.7"
